.containerSectionDriving{
    width: 80%;
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: space-around;
}
.containerSectionDrivingSelectorDiv{
    padding: 5%;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerSectionDrivingSelectorDiv div{
    display: flex;
    gap: 15px;
}
.containerSectionDrivingSelectorDiv div img{
    width: 30px;
}
@media screen and (max-width: 1350px) {
    .quitComponentMobile2{
        display: none;
    }
    .containerSectionDriving{
        height: 130px;
    }
}
@media screen and (max-width: 900px) {
    .quitComponentMobile1{
        display: none;
    }
    .quitComponentMobile2{
        display: none;
    }
}
