.footer{
    height: 350px;
    background-color: #41503e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    margin-top: 5%;
}
.footerSocialMedias{
    text-align: center;
}
.footerSocialMedias div{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 15%;
}
.footerDerechos{
    border-top: 1px solid #767a63;
    text-align: center;
}
@media screen and (max-width: 1350px) {
    .imgFooter{
        width: 2%;
    }
}
@media screen and (max-width: 900px) {
    .footerSocialMedias div{
        width: 30%;
    }
    .imgFooter{
        width: 3%;
    }
}